/* This is for the header */


body { 
    position: relative;
    height: auto;
    padding-top: 70px; 
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.navbar-default .navbar-brand {
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: #4aaaaa;
    color: white;

}

.navbar-default .navbar-brand:hover {
    background-color: #4aaaaa;
    color: white;
}

.navbar-default .navbar-nav>li>a {
    float: left;
}

.navbar-right {
    margin-bottom: 0px;
}

#Basic_info:hover {
    background: teal;
    color: white;
}

#Portfolio:hover {
    background: teal;
    color: white;
}

#contact:hover {
    background: teal;
    color: white;
}


/* This is for the main content section */

.content {
    margin: 10px;
    position: relative;
}

.info {
    width: 100%;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    padding: 10px 25px 10px 25px;
    margin-bottom: 10px;
    float: left;
}

p {
    padding-left: 10px;
}

h2 {
    margin: 0;
    color: #4aaaaa;
    font-size: 24px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 5px;
}

h3 {
    margin: 0;
    color: #4aaaaa;
    font-size: 22px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 5px;
}

.connect {
    margin-left: 0px;
    margin-right: 0px;
}

img {
    width: 100%;
}


/* This is for the About me page */

#family {
    margin: 0;
}

/* This is for the portfolio page */
.thumbnail {
    margin-right: 5px;
    opacity: 0.75;
}

.thumbnail:hover {
    opacity: 1.0;
}

.thumbnail:active {
    background: teal;
}

.text {
    position: relative;
    background: #4aaaaa;
    text-align: center;
    padding: 5px;
    color: #ffffff;
}

.thumbnail {
    margin-bottom: 10px;
    margin-right: 10px;
}
/* This is for the contact me page */
.form-group {
    color: #777777;
}


button {
    background: #4aaaaa;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border: none;
    font-size: 18px;
    color: #fff;
    font-weight: 100;
}

button:hover {
    background: teal;
}

/* This is for the footer */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px 0 10px 0;
    margin-top: 10px;
    float: left;
    color: #ffffff;
    background: #666666;
    text-align: center;
    border-top: 5px solid #4aaaaa;
}